[*.{kt,kts}]
# Disable argument-list-wrapping: crashes on multiline lambdas
# (known ktlint bug with Compose DSL patterns)
ktlint_standard_argument-list-wrapping = disabled

# Allow wildcard imports (standard for Compose and test DSLs)
ktlint_standard_no-wildcard-imports = disabled
